@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  background: no-repeat center/100%
    url(./image/aaron-burden-uMJe5aqas2k-unsplash.jpg);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.login-container {
  background-color: white;
  height: 25rem;
  width: 28rem;
  padding: 2rem;
  display: flex;
  border-radius: 35px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.7rem;
}
.login-title {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  align-self: center;
  padding-bottom: 0.3rem;
  border-bottom: 2px solid;
  margin-bottom: 0.5rem;
}
.login-input input,
button {
  width: 100%;
  border-radius: 5px;
}
input {
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
  outline: none;
  border: 2px solid;
}
.button {
  width: 55px;
  text-decoration: none;
  height: 70%;
  background: rgb(28, 15, 64);
  padding: 6px 2rem;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  line-height: 50px;
}

.login-btn {
  display: flex;
  height: 90px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.media {
  display: flex;
  height: 90px;
  flex-directio: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
